._container {
    width: 85%;
    margin: 0px auto;
}
    ._container .navigations, .content {
        display: inline-block;
        vertical-align: top;
    }
    ._container .navigations {
        width: 10%;
    }
        ._container .navigations ul {
            list-style-type: none;
        }
    

    ._container .content {
        padding: 10px;
        
    }
